* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    margin: 10px 0px;
    gap: 10px;
}
.product-card {
    display: flex;
    flex-direction: column;
    padding: 1%;
    width: 80%;
    gap: 5px;
    border-radius: 5px;
    box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
    position: relative;
    transition: all 300ms;
   
}
.product-card:hover {
    transform: translate(3px, -3px);
}
.description {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    gap: 5px;
    
}
.description .price {
    text-align: right;
    font-weight: bold;
}

.fa-heart {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
}

@media (min-width: 769px) {
    
    .product-card {
        width: 25%;
    }
    .fa-heart {
        top: 15px;
        right: 15px;
        font-size: 1.5rem;
    }
    
}