<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head', {title: 'Sweeters', style: '/css/indexStyle.css'}) %>
<body>
    <%- include('./partials/header') %>
<main>
    
</main>

    <script src="https://kit.fontawesome.com/6cd48854d2.js" crossorigin="anonymous"></script>
    <script src="/js/index.js"></script>

</body>
</html>