<header>
    <div class="top-bar">
        <picture>
            <a href="/">
                <img class="logo" src="/img/logo.jpg" alt="logo">
            </a>
        </picture>
        <form action="/products/search" method="POST">
            <div class="search-bar-container">
                <input type="search-text" name="searchTxt" placeholder="Buscar">
                <button class="search"><i class="fa fa-search"></i></button>
            </div>
        </form>
        <div class="icons">
            <i class="fa-solid fa-cart-shopping"></i>
            <i class="fa-solid fa-bars"></i>
            <ul class="register">
                <li>
                    <a href="#">Registrarme</a>
                </li>
                <li>
                    <a href="/users/login">Login</a>
                </li>
            </ul>
        </div>
    </div>
    <ul class="menu">
        <li>
            <a href="/">Inicio</a>
        </li>
        <li>
            <a href="/products">Productos</a>
        </li>
        <li>
            <a href="/#off">Ofertas</a>
        </li>
        <li>
            <a href="/#nosotros">Nosotros</a>
        </li>
    </ul>
</header>                