<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', {title: 'Sweeters-Login', style: '/css/loginStyle.css'}) %>
<body>
    <%- include('../partials/header') %>
    <main>
        <section class="login">
            <article class="card-login">
                <img src="/img/logo.jpeg" alt="foto">
                <form action="#" method="POST">
                    <div class="form-camp">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" name="email" class="form-input">
                    </div>
                    <div class="form-camp">
                        <label for="password" class="form-label">Contraseña</label>
                        <input type="password" name="password" class="form-input">
                    </div>
                    <div class="form-camp-recordarme">
                        <label for="recordame" class="form-label">Recordarme</label>
                        <input type="checkbox" name="rememberUser" class="form-input-remember">
                    </div>
                    <button type="submit" class="button">Login</button>
                </form>
            </article>    
        </section>
    </main>
    <script src="https://kit.fontawesome.com/6cd48854d2.js" crossorigin="anonymous"></script>    
</body>
</html>